<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>programmars</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/community.css" />
    <link rel="stylesheet" href="../css/media900.css" />
    <link rel="stylesheet" href="../css/media750.css" />
    <link rel="stylesheet" href="../css/media575.css" />
  </head>
  <body>
    <header class="flexbox">
      <div class="wrap flexbox">
        <ul class="menu va flexbox bold">
          <li><a href="">홈</a></li>
          <li><a href="index.html">스쿨</a></li>
          <li><a href="">커리어</a></li>
          <li><a href="community.html">커뮤니티</a></li>
        </ul>
      </div>
      <div class="wrap flexbox">
        <div class="wrap flexbox gnb">
          <figure>
            <figcaption class="hide">logo</figcaption>
            <img class="logoicon" src="../img/logo.png" alt="" />
          </figure>
          <h1 class="h1">programmars</h1>
        </div>
        <ul class="lnb va flexbox">
          <li><a href="community.html">개발자 라운지</a></li>
          <li><a href="">스터디</a></li>
          <li><a href="">Q&A</a></li>
        </ul>
      </div>
      <div class="pro flexbox">
        <ul class="profile va flexbox">
          <li>
            <a href="" class="pf_name blue">이지현님</a>
          </li>
          <li>
            <a href="" class="pf_icon"
              ><img src="../img/bell.png" alt="알림"
            /></a>
          </li>
          <li>
            <a href="" class="pf hide"
              ><img src="../img/wallet.png" alt="사진"
            /></a>
          </li>
        </ul>
      </div>
    </header>
    <main class="flexbox">
      <section id="rounge">
        <div class="wrap">
          <div class="flexbox">
            <h2 class="h2">
              프로그래머스 커뮤니티에서 자유롭게 이야기 나눠보세요!
            </h2>
            <button class="block textcenter" type="submit">작성하기</button>
          </div>
          <div id="postbox">
            <!-- javascript로 게시글 추가시에 태그로 추가 -->
          </div>
        </div>
      </section>
      <aside id="ad">
        <div class="wrap flexbox">
          <div class="wrap radius flexbox">
            <h3 class="h3 bold">
              입문? 취업? 실무역량?<span class="block"></span>필요한 과정 모두
              준비했어!
            </h3>
            <p class="p bold">인기 있는 국비지원학원과정 선착순 모집 중</p>
          </div>
          <div class="wrap radius flexbox">
            <h3 class="h3 textcenter bold">
              프로그래머스 커뮤니티,<span class="block"></span>함께 만들어가요
            </h3>
            <p class="p">설문조사에 참여해 의견을 나눠주세요</p>
            <button class="block textcenter radius" type="submit">설문 참여하기</button>
          </div>
        </div>
      </aside>
    </main>
    <footer>
      <section>
        <div class="firstflex flexbox">
          <div class="flexbox">
            <ul class="service habox">
              <h4 class="h4">서비스센터</h4>
              <li class="pcolor">
                <p>개발자용 프로그래머스</p>
              </li>
              <li class="pcolor">
                <p>기업용 프로그래머스</p>
              </li>
            </ul>
            <ul class="service habox">
              <h4 class="h4">문의</h4>
              <li class="pcolor">
                <p>FAQ/문의</p>
              </li>
              <li class="pcolor">
                <p>교육 결제, 환불 관련 문의</p>
              </li>
            </ul>
            <ul class="service habox">
              <h4 class="h4">고객센터</h4>
              <li class="pcolor">
                <p>대표번호: 1234-1234 (무선전용) / 070-1234-1324 (유선전용)</p>
              </li>
              <li class="pcolor">
                <p>
                  운영시간: 오전9시 ~ 오후6시(주말 및 공휴일 휴무)
                  <span class="block"></span>점심시간: 오후12시 ~ 오후1시
                </p>
              </li>
            </ul>
          </div>
          <div class="service">
            <select name="패밀리사이트" id="familysite">
              <option>패밀리 사이트</option>
              <option>그렙</option>
              <option>모니토</option>
            </select>
          </div>
        </div>
        <div class="habox">
          <h4 class="h4 pcolor">2023 프로그래머스</h4>
          <p class="pcolor">
            (주)그렙 / 대표 임성수 / 서울특별시 서초구 강남대로 327, 2층
            프로그래머스(서초동, 대륭서초타워) / 사업자등록번호 220-88-75699 /
            통신판매업신고 제 2014-서울강남-03241호 / 직업정보제공사업 신고번호
            J1200020180027 / (주)그렙은 통신판매중개자로서, 통신판매의 당사자가
            아니며 중개하는 콘텐츠 및 거래에 대한 책임을 부담하지 않습니다. 단,
            (주)그렙이 직접 제공하는 콘텐츠에 대해서는 책임을 부담합니다.
            프로그래머스 사이트의 모든 콘텐츠, 정보, UI, HTML 소스 등에 대한
            무단 복제, 전송, 배포, 크롤링, 스크래핑 등의 행위를 거부하며, 이러한
            행위는 관련 법령에 의해 엄격히 금지됩니다.
          </p>
        </div>
      </section>
    </footer>
  </body>
</html>
