@media screen and (max-width: 1200px) {

    /* common */
    .h2 {
        font-size: 1.5em;
        font-weight: 700;
        margin: 1rem;
        margin-left: 0;
    }

    /* header */
    header {
        flex-wrap: wrap;
        position: relative;
    }

    .wrap {
        width: 100%;
        padding: 0;
    }

    .gnb {
        width: 100%;
    }

    .lnb {
        width: 100%;
    }

    .lnb.va.flexbox:first-child {
        margin-left: 0.1em;
    }

    .logoicon {
        display: absolute;
        z-index: 1;
    }

    .pro {
        position: absolute;
        right: 0;
        top: 0;
        width: 15%;
    }

    .pf {
        display: block;
        width: 2rem;
    }

    .pf_name {
        display: none;
    }

    /* main */
    main {
        font-size: 0.8em;
    }
    .binbox{
        width: var(--width-of-box);
    }

    /* sectoin1 */
    .growth li {
        padding: 0.3rem 0.5rem;
        background-size: 33%;
        background-position: bottom right;
    }

    /* sectoin2 */
    .gotoclass {
        padding: 1rem;
    }

    .intoclass {
        width: 100%;
    }

    span.hide {
        display: block;
    }

    /* section3 */
    .button_w{
        width: var(--width-of-box);
    }
    /*     전체 절대높이를 바꿔주고 안에 있는 상대너비는 건들지 않아도 됨 */
    .wanted{
        height: 300px;
    }
    .wanted li{
       margin-right: 4.5rem;
    }
    .wanted li a{
       display: flex;
       flex-direction: column;
       width: 200px;
    }
    .wanted li a div{
        width: 100%;
    }
    .pinbox {
        padding: 0.5rem;
    }
    .apply750{
        overflow-x: scroll;
    }
    .applybox.binbox{
        margin-right: 1rem;
    }

/*     footer */
    footer .flexbox ul{
        width: 100%;
    }
}